a.out
*.o

List2
List3
assign
assign2
assign3
assign4
bool
bool2
comp
comp2
const
enum
enum2
enum3
ex3_1
ex3_2
ex3_3
ex4_1
ex4_2
fork
fork1
if1
int2
logic
logic2
macro
scanf
scanf2
scanf3
sig0
sizeof
thread0
